@{
    ViewBag.Title = "主页";
    ViewBag.Nav = "Home/Index";
}
<div class="row well">
    <h3>架构说明</h3>

    <p>前端：Vuejs与JQuery混合，样式使用基于bootstrap的扩展框架beyond。对常用的grid,page标签进行了封装。前端只需少量代码，即可实现列表数据的呈现。</p>
    <p>后端：采用SqlSugar作为数据库访问框架（性能高于EF和dapper）。只要通过简单的配置，可实现多数据库读写分离。</p>
    <p>代码：运用T4模板对（实体模型层、数据层、服务层、控制层）进行封装。简单的功能都已经生成相应代码，不用再去编写繁琐的增删改查类代码。</p>
    <p style=" color:red">注意：不支持IE9及以下浏览器。推荐使用谷歌浏览器。暂未添加日志、异常、登录等通用处理，有兴趣的朋友自行解决。</p>

</div>